<% provide(:title, 'Регистрация') %>
<h1>Форма регистрации пользователя в нашем проекте</h1>

<div class="row">
  <div class="col-md-5 col-md-offset-2">

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name, "Придумайте логин"%>
      <%= f.text_field :name %>

      <%= f.label :email, "Адрес вашей электронной почты" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Подтверждение пароля" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Нажав на эту кнопку вы безвозмездно вручаете в наши лапы свою информацию", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>