% provide(:title, 'Sign up') %>
<h1>Форма регистрации пользователя в нашем проекте</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Ваше имая на проекте" %>
      <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email, "Ваш реальный e-mail" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password, "Придумайте пароль" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Попробуйте вспомнить придуманный выше пароль" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Нажав на эту кнопку вы безвозмездно вручаете в наши лапы свою информацию", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
